---
layout: default
---
<section class="tone-dark header">
  <img class="logo"
       src="images/logo.png"
       alt="{{ site.data.info.name }}">
  <p>
    {{ site.data.info.date }}
    <br>
    {{ site.data.info.location }}
  </p>
  {% if site.data.action.text %}
    <p>
      {% if site.data.action.link %}
        <a class="tone-dark link-action"
           href="{{ site.data.action.link }}"
           rel="noreferrer">{{ site.data.action.text | markdownify | remove: '<p>' | remove: '</p>' }}</a>
      {% else %}
        {{ site.data.action.text | markdownify }}
      {% endif %}
    </p>
  {% endif %}

  <p>
    Follow us on <a href="https://instagram.com/{{ site.data.info.facebook }}"
                    rel="noreferrer">Instagram</a>
    {% if site.data.info.twitter %}
      and <a href="https://twitter.com/{{ site.data.info.twitter }}"
             rel="noreferrer">Twitter</a>
    {% endif %}
    for updates!
  </p>
</section>
<section class="tone-dark">
  <div>
    {{ site.data.info.description_long | markdownify }}

    {% if site.data.workshops %}
      <p>
        Download the Hard Copy of  <a href="/pdf/Registration_form_SIH2024.pdf">Registration Form Here</a>.
      </p>
    {% endif %}

    {% if site.data.info.past_editions %}
      <p>
        Check the SIH 2024 Problem Statements here:
        {% for edition in site.data.info.past_editions %}
          <a href="{{ edition[1] }}">{{ edition[0] }}</a>
        {% endfor %}
      </p>
    {% endif %}

    <p>
      Download the <a href="/ppt/SIH2024_IDEA_Presentation_Format.pptx">Idea Presentation PPT</a>.
    </p>
  </div>
</section>

<section id="poster">
  <div>
    <h1>Poster</h1>
    <img src="images/poster.png"/ style="width: 100%; height: 100%;">
  </div>
</section>

<section id="registrationprocess">
  <div>
    <h1>Registration Process</h1>
    <p>
      <ul style="text-align: left;
    list-style-position: inside;">
      <li>Assemble your team <br><br></li> 
      <li>Select a problem statement from the <a href="https://www.sih.gov.in/sih2024PS">SIH Website<a/></li><br><br>
      <li>Download the <a href="https://sih2024kitsw.github.io/pdf/Registration_form_SIH2024.pdf">Hardcopy of the Registration Form</a></li><br><br>
      <li>Fill the form with relevant details and pay the registration fee of Rs.300 to Registration Committee (UPI Not Accepted)</li><br><br>
      <li>Fill the <a href="https://forms.gle/AkGAuFz7X8n4e1Fm9">Google Form</a> with the relevant details as written in the hard copy and provide proof of payment</li><br><br>
      <li>Submit the hardcopy to the Registration Committee</li><br><br>
      <li>Download the <a href="/ppt/SIH2024_IDEA_Presentation_Format.pptx">Idea Presentation PPT</a> and pitch your idea on 31st August!</li> 
      </ul>
    </p>
  </div>
</section>

<section id="teamreq">
  <div>
    <h1>Team Requirements</h1>
    <p>
      A Maximum of <b>6 Members</b> in the team<br>
      A Minimum of <b>2 Girl Members</b> in the team<br>
      A Professor as a Team Mentor from any department in our college<br>
    </p>
  </div>
</section>

<section>
  <div>
    <h1>Last Date For Registration</h1>
    <h2>August 29, 2024</h2>
  </div>
</section>

{% if site.data.schedule %}
  <section id="schedule">
    <h1>Schedule</h1>
    <div class="items-container">
      {% for part in site.data.schedule %}
        <div class="item-large">
          <table>
            {% if part[0] != '' %}
            <tr>
              <th colspan="2">
                <h2>{{ part[0] }}</h2>
              </th>
            </tr>
            {% endif %}
            {% for item in part[1] %}
              <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
<section>
  {% if site.data.faq %}
    <h1 id="faq">F.A.Q.</h1>
    <div class="items-container">
      {% for item in site.data.faq %}
        <div class="item-large">
          <h2 {% if item.id %} id="{{ item.id }}" {% endif %}>{{ item.q }}</h2>
          <p>{{ item.a | markdownify }}</p>
        </div>
      {% endfor %}
      <div class="item-large">
        <h2>I have another question...</h2>
        <p>Contact us on <a href="https://instagram.com/{{ site.data.info.instagram }}"
                            rel="noreferrer">Instagram</a>,
          {% if site.data.info.twitter %}
            on <a href="https://twitter.com/{{ site.data.info.twitter }}"
                  rel="noreferrer">Twitter</a>,
          {% endif %}
          <br>
          or by email ({{ site.data.info.email }})!</p>
    </div>
  {% endif %}
</section>

{% if site.data.sponsors %}
  <section class="section-sponsors">
    {% if site.data.sponsors.show_prospectus %}
      <div>
        
      </div>
    {% endif %}

    {% for tier in site.data.sponsors.tiers %}
      {% if tier[1].show_title %}
        <h1>{{ tier[0] }}</h1>
      {% endif %}

      {% if tier[1].sponsors %}
        <div class="items-container"
             {% if tier[1].color %} style="background: {{ tier[1].color }}" {% endif %}>
          {% for sponsor in tier[1].sponsors %}
            {% comment %} Use SVG if available, PNG otherwise {% endcomment %}
            {% assign file_img = 'null' %}
            {% assign file_svg_path = sponsor[0] | prepend: '/images/logos/' | append: '.svg' %}
            {% for file in site.static_files %}
              {% if file.path == file_svg_path %}
                {% assign file_img = file_svg_path %}
              {% endif %}
            {% endfor %}
            {% if file_img == 'null' %}
              {% assign file_img = sponsor[0] | prepend: '/images/logos/' | append: '.png' %}
            {% endif %}

            <div class="item-large">
              <a href="{{ sponsor[1] }}"
                 rel="noreferrer">
                 <img src="{{ file_img }}"
                      alt="{{ tier[0] }} - {{ sponsor[0] }}"
                      style="height: {{ tier[1].size }}vh">
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </section>
{% endif %}
<section class="tone-dark">
  <h1>In-Charge Faculty</h1>
  <div class="items-container">
    {% for person in site.data.organizers.faculty %}
      <div class="item-small">
        <a class="person-link"
           href="{{ person.link }}"
           rel="noreferrer">
            <div class="person-container">
              <img class="person-image"
                   src="images/people/{{ person.first }} {{ person.last }}.jpg"
                   alt="Picture of {{ person.first }} {{ person.last }}">
              <div class="person-info">
                <span class="person-first">{{ person.first }}</span>
                <br>
                <span class="person-last">{{ person.last }}</span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="tone-dark">
  <h1>Student Co-Ordinators</h1>
  <div class="items-container">
    {% for person in site.data.organizers.maincoords %}
      <div class="item-small">
        <a class="person-link"
           href="{{ person.link }}"
           rel="noreferrer">
            <div class="person-container">
              <img class="person-image"
                   src="images/people/{{ person.first }} {{ person.last }}.jpg"
                   alt="Picture of {{ person.first }} {{ person.last }}">
              <div class="person-info">
                <span class="person-first">{{ person.first }}</span>
                <br>
                <span class="person-last">{{ person.last }}</span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="tone-dark">
  <h1>Supporting Organisers</h1>
  <div class="items-container">
    {% for person in site.data.organizers.suppcords %}
      <div class="item-small">
        <a class="person-link"
           href="{{ person.link }}"
           rel="noreferrer">
            <div class="person-container">
              <img class="person-image"
                   src="images/people/{{ person.first }} {{ person.last }}.jpg"
                   alt="Picture of {{ person.first }} {{ person.last }}">
              <div class="person-info">
                <span class="person-first">{{ person.first }}</span>
                <br>
                <span class="person-last">{{ person.last }}</span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% if site.data.organizers.group %}
  <p>
    {{ site.data.info.name }} is organized by {{ site.data.organizers.group.name }}
  </p>
{% endif %}

<p>
  Website Designed by Aryan Karamtoth of Department of Information Technology, KITSW</a>.
</p>
